h1
{
  text-align: center;
}
body
{
  background-color: lightgrey;
  text-align: center;
}
.boton
{
  background-color: lightblue;
}
table
{
  border: 1px solid black;
  text-align: center;
}
th
{
  border: 1px solid black;
}
td
{
  border: 1px solid black;
}

/*JUGAR*/
#imagen
{
  margin: auto;
  border: 3px solid dimgrey;
  text-align: center;
}
